.banner
  background-image: url('../../../../../assets/images/background-1.png')
  background-size: cover
  height: 100vh
  padding: 0
  color: white
  margin: -8px
  overflow: auto

.header-flex
  display: flex
  justify-content: space-between
  margin: 15px 20px
  color: black

.previous-hover
    &:hover
      color: #592daf
    &:active
      color: #898aaf

.estimate
  text-align: right

.flex-container
  display: flex
  align-items: center
  justify-content: center
  div
    width: 75%
    margin: 10px
    text-align: center
    color: #ffffff
    h2
      color: #0052ed
      margin: 60px

.ordinary-button
  background-color: #457eaf
  width: 300px
  border: none
  color: black
  font-weight: bold
  padding: 15px 60px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 15px 15px
  cursor: pointer
  border-radius: 20px
  &:hover
    left: .2em
    background-color: aliceblue
    &:active
      left: .5em
      background-color: #d3d5ff

.selected-button
  background-color: #592daf
  width: 300px
  border: none
  color: black
  font-weight: bold
  padding: 15px 60px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 15px 15px
  cursor: pointer
  border-radius: 20px

