<div class="banner">
  <div class="header-flex">
    <p class="previous-hover"><span>&#8592;</span>Previous Question</p>
    <div class="estimate">
    <p>Rough Estimate</p>
    <p>{{sumEstimate}}$</p>
    </div>
  </div>
  <div class = "flex-container">
    <div>
      <h2>{{step.name}}</h2>
        <button *ngFor="let option of step.stepOptions"
                [ngClass]="{'ordinary-button' : !(option===selectedOption), 'selected-button': option===selectedOption}"
                (click)="onSelect(option)">{{option.name}}</button>
   </div>
  </div>
</div>
