<div class="banner">
<div class = "flex-container">
  <div>
  <h2>THINKING OF BUILDING A MOBILE APP?</h2>
  <p >Find out how much you'll pay for developing mobile application.
    Mobile application development cost calculator helps you estimate
    your expense & stay on budget.</p>
    <button class="button">Get an Estimate</button>
  </div>
</div>
</div>


