.banner
  background-image: url('../../../../../assets/images/root.png')
  background-size: cover
  height: 100vh
  padding: 0
  color: white
  margin: -8px
  overflow: auto

.flex-container
  display: flex
  align-items: center
  justify-content: center
  min-height: 40em
  div
    width: 40%
    margin: 10px
    text-align: center
    color: #ffffff
    p
     font-size: 20px
    h2
      color: #B9D2ED

.button
  background-color: #457eaf
  border: none
  color: black
  font-weight: bold
  padding: 15px 60px
  text-align: center
  text-decoration: none
  display: inline-block
  font-size: 16px
  margin: 4px 2px
  cursor: pointer
  border-radius: 20px
  &:hover
    background-color: #b9d2ed
  &:active
    background-color: #898aaf
